.react-flow__node {
    border: none;
    border: 1px solid #00b37e;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.react-flow__node:focus {
    border: 2px solid black;
}

.react-flow__controls-button {
    border: none;
    border: 1px solid #00b37e;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 1rem;
    background: transparent;
}
.react-flow__controls-button:hover {
    background: #00b37e;
}

.react-flow__controls-button:hover svg path {
    fill: white;
}

.react-flow__controls-button svg path {
    fill: #00b37e;
}

.react-flow__controls-button svg {
    max-width: none;
    max-height: none;
}

.react-flow__controls {
    box-shadow: none;
}

